.app-header {
    display: flex;
    flex-direction: column;
    background-color: rgba(60, 0, 120, 0.6);
    color: white;
    margin: 0px;
}
h1 {
    font-size: 36px;
    margin: inherit;
}

h3 {
    font-size: 14px;
    margin: inherit;
}