

.single-button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10 px;
    border: 1px solid black; 
}

.sections {
    border: 1px solid lightgreen;
}

.all-buttons-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid gold;
}

.single-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue;
    width: 35px;
    height: 45px; 
    will-change: transform;   
}



