.single-button {
    background-color: transparent;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10 px;
    border: 1px solid orange;
    
}

.sections {
    border: 1px solid lightgreen;
}

.all-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid gold;
}

.single-button-container {
    border: 1px solid blue;
    width: 100px;
    height: 100px;    
}

ul {
    padding-left: 0px;
}


