

.single-button {
    background-color: transparent;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10 px;
    border: 1px solid black; 
}

.single-button:hover {
    border: 1px solid white; 
    color: white;
    transition: color 0.5s ease;
    transition: border 0.5s ease;
}

.single-button:focus, .single-button:active {
    border: 1px solid green; 
    color: green;

}

.sections {
    border: 1px solid lightgreen;
}

.all-buttons-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 1px solid gold; */
}

